
/* Style the body */
body {
    font-family: monospace, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 300px;
    text-align: left;
    background-image: url(https://i.pinimg.com/originals/5f/f8/0b/5ff80b094f440a3fa7f4c596e01d9f30.jpg);
    height: 100px;
    color: rgb(232, 145, 213);
    font-weight: 300;
  }

  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 60px;
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color:#faf9fa;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: #e4afee;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
 
  /* Right-aligned link */
  .navbar a.right {
    float: right;
    color: #e4afee;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
  }
  .img {
    border-radius: 8px;
    float: center;
  }
  
  p {
    color: rgb(15, 15, 15);
    text-indent: 30px;
    text-transform: none;
    float: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    border-radius: 5px;
    border-style: double;
    font-size: large;
  }
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: hsl(213, 52%, 92%);
    padding: 20px;
  }
  a:visited {
    color: #e4afee;
    background-color: transparent;
    text-decoration: none;
  }
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    padding: 20px;
    background-color: hsl(213, 52%, 92%);
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

